cluster-trace-v2018/data
maxflow/scaling_result
maxflow/compare_maxflow_mincost/heatmap_results
maxflow/compare_maxflow_mincost/heatmap_results_25_50_jobs
maxflow/compare_maxflow_mincost/job_interval_scaling_results
maxflow/compare_maxflow_mincost/plot
# Large generated experiment files
cluster-trace-v2018/all_job_stats.csv
maxflow/scaling_result.zip
Platforms
green_energy_job_generation
miniconda3
.venv